.additionalInfo {
    padding-bottom: 0px !important;
}

#extrafileinfo-ps {
    margin-bottom: 10px;
}

#extrafileinfo-fm {
    padding-bottom: 22px !important;
}

#extrafileinfo-editor {
    overflow: auto;
    margin: auto;
    width: 95%;
    height: 280px;
    position: relative;
    padding: 0;
    display:inline-block;
}

#extrafileinfo-force-render {
    margin-bottom: 40px;
    margin-right: 10px;
}