<div class="row-fluid">
    <h3>ExtraFileInfo Settings</h3>
    <label>Configure the slicer settings you want to show under the <div class="btn btn-mini"><i
                    class="fas fa-chevron-down"></i></div> section of files.
            <br>The settings will be added as <code>{Setting}: {val}{Unit}</code></label>
    <div class="alert alert-info">The "Setting" boxes need to be filled with the exact "key" value from
        SlicerSettingsParser.<br><a href="https://github.com/larsjuhw/OctoPrint-ExtraFileInfo#Configuration">Read this explanation on GitHub for more info.</a></div>
    <div class="alert alert-error" id="ufp_installed_warning"><button type="button" class="close"
            data-dismiss="alert">&times;</button><strong>Warning!</strong> The plugin
        Cura Thumbnails seems to be installed. This plugin is known to conflict with
        SlicerSettingsParser on file upload. Use <a
            href="https://plugins.octoprint.org/plugins/prusaslicerthumbnails/#cura">Slicer
            Thumbnails</a> instead to solve this.</div>

    <div class='row-fluid'><a class='btn btn-mini icon-plus' data-bind='click: addParserRow'></a></div>
    <div class='row-fluid'>
        <table class='table table-striped table-condensed'>
            <thead>
                <tr>
                    <th style="width:30%;">Key</th>
                    <th style="width:30%;">Label</th>
                    <th style="width:15%;">Unit</th>
                    <th style="width:20%;">Show in</th>
                    <th style="width:5%;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: settings.plugins.extrafileinfo.config">
                <tr>
                    <td><input type="text" style="width: 90%;" placeholder="Key" data-bind="value: key"></td>
                    <td><input type="text" style="width: 90%;" placeholder="Label" data-bind="value: label"></td>
                    <td><input type="text" style="width: 80%;" placeholder="Unit" data-bind="value: unit"></td>
                    <td>
                        <label class='checkbox'>
                            <input type="checkbox" data-bind="checked: showInFilesList">File info
                        </label>
                        <label class='checkbox'>
                            <input type="checkbox" data-bind="checked: showInStatesContainer">Active print info
                        </label>
                    </td>
                    <td><a class="btn btn-mini icon-trash" data-bind="click: $root.removeParserRow"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Filter Settings</h3>
<span class="help-block">{{ _('Any characters entered in the filter field will be filtered from the displayed setting
    values. Can be useful for cases where some of the values in your gcode contain quotation marks such as:') }}</span>
<div class="well well-small">; filament_settings_id = "Prusament ASA"</div>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Enable Filter') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.extrafileinfo.filterEnabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filtered Characters') }}</label>
        <div class="controls">
            <input type="text" class="input-medium" data-bind="value: settings.plugins.extrafileinfo.filter">
        </div>
    </div>
</form>
